<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:include="layout :: htmlhead"></head>
<body>
    <style>
      .loginDiv{      
      	width: 600px;
	    margin-top: 150px;
	    margin-right: auto;
	    margin-bottom: auto;
	    margin-left: auto;
      }
    </style>
    <header></header>
    <section id="loginPage">
        <div class="loginDiv">
            <form id="form" data-parsley-validate="true" onsubmit="return false">
                <div class="form-group has-feedback">
                    <input type="text" placeholder="邮箱地址或登录名称" v-model="username" class="form-control" data-parsley-error-message="请输入邮箱地址或登录名称" required="required" />
                    <span class="fa fa-envelope form-control-feedback text-muted"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" placeholder="密码" v-model="password" class="form-control" data-parsley-error-message="请输入密码" required="required" />
                    <span class="fa fa-lock form-control-feedback text-muted"></span>
                </div>
                <div class="clearfix">
                    <div class="pull-right">
                        <a href="/forgotPassword" class="text-muted">忘记密码？</a>
                    </div>
                </div>
                <button v-on:click="login" class="btn btn-block btn-primary mt-lg">登录</button>

                <div id="errorMsg" class="alert alert-danger text-center" style="display:none;"></div>

            </form>
        </div>

    </section>
    <footer th:include="fragments/footer :: footer"></footer>

    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/vue/vue.min.js"></script>

    <script th:src="@{/webjars/vue-resource/dist/vue-resource.min.js}"></script>
    <script th:src="@{/vendor/parsleyjs/dist/parsley.min.js}"></script>
    <script type='text/javascript'>
    Vue.http.options.emulateJSON = true;
        var loginPage = new Vue({
            el: '#loginPage',
            data: {
                'username': '',
                'password': ''
            },
            methods: {
            	login: function(event){
            		var ok = $('#form').parsley().isValid({force: true});
            		if(!ok){
            			return;
            		}
            		var datas={
            				 username: this.username,
            				 password: this.password
	            			 };
            	    this.$http.post('/login',datas).then(function(response){
            	    	 if(response.data.code == 'SUCCESS'){
            	    		  window.open(response.data.data, '_self');
            	    	 }else{
            	    		  $("#errorMsg").html(response.data.message);
            	    		  $("#errorMsg").show();
            	    	 }
                     }, function(response){
                         console.log('error');
                     })
                }
            }
        })
    </script>
</body>
</html>